<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <h1>Contact Us</h1>

      <!-- The following text was generated with the help of ChatGPT -->

      <h4>Reach Out to MedHub</h4>

      <p>We are always here to assist you! Whether you have questions about the
        platform, feedback, or any inquiries, feel free to reach out to us.</p>

      <h4>Email:</h4>

      <p>For general questions or support, email us at:
        <a href="mailto: medhub.support@ju.se"> medhub.support@ju.se </a></p>

      <h4>Phone:</h4>

      <p>For immediate assistance, call our support line: +46 036-30 51 50
        (Monday to Friday, 9:00 to 17:00 CET)</p>

      <h4>Our Office Location</h4>

      <p>MedHub operates in collaboration with Jönköping University and Science
        Park Jönköping, fostering innovation in healthcare technology.</p>

      <h4>Head Office Address:</h4>

      <p>Science Park Jönköping Framgången 1, 553 18 Jönköping, Sweden</p>
      <p><a href="https://maps.app.goo.gl/SmQPMj1bSbRuhyzT9">Find us on the map</a></p>

      <h4>Business Hours:</h4>

      <p>We are available to assist you during the following times: Monday to
        Friday, 9:00 to 17:00 CET.
      </p>
    </div>
  </div>
</div>