<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <h1>400 Bad request</h1>
      <p>Cannot delete a doctor with an associated treatment!</p>
      <a href="/doctors">Back to Doctors</a>
    </div>
  </div>
</div>