<p>This is the doctors site</p>
<h2>List of doctors:</h2>
<div class="doctor-list">
  <ol>
    {{#each doctor}}
      <li>
        <a href="/doctors/{{did}}">{{dfname}} {{dlname}}</a>
      </li>
    {{/each}}
  </ol>
</div>