<p>This is the login page</p>
<div class="login-form">
  <h1>Login</h1>
  <form action="/login" method="post">
    <div id="login-username">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />
    </div>
    <div id="login-password">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
    </div>
    <div id="login-button">
      <input type="submit" value="Login" />
    </div>
  </form>
  {{#if error}}
    <div class="login-error">{{error}}</div>
  {{/if}}
  {{#if message}}
    <div class="login-error">{{message}}</div>
  {{/if}}
</div>