<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/zbq5ntv.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>MedHub</title>
  </head>
  <body>
    <header></header>
    <main>
      <p>Welcome to the</p>
      <h1>MedHub</h1>
      <h2>MedHub</h2>
      <img src="/img/2150269672.jpg" />
    </main>
    <footer></footer>
  </body>
</html>
