<p>This is the patients site</p>
<h2>List of patients:</h2>
<div class="patient-list">
  <ol>
    {{!-- {{patient}} --}}
    {{#each patient}}
      <li>
        <a href="/patients/{{pid}}">{{pfname}} {{plname}} </a>
      </li>
    {{/each}}
  </ol>
</div>