/* GENERAL */
html.wf-active * {
  font-family: "ff-scala-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--navy-blue);
}

* {
  font-family: ff-scala-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--navy-blue);
}

html {
  --background-blue: #caf0f8;
  --light-blue: #90e0ef;
  --normal-blue: #00b4d8;
  --dark-blue: #0077b6;
  --navy-blue: #03045e;
  --dark-red: #d00000;
  --green: #005200;
  --pink: #ff7b9c;
}

body {
  background-color: var(--background-blue);
  /* margin-left: 2vw;
  margin-right: 2vw; */
}

h1 {
  font-family: "ff-scala", sans-serif;
  font-size: 1.5rem;
  /* margin: 1vw; */
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  /* margin: 1vw; */
  font-weight: 700;
}

h3 {
  font-family: "ff-scala", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

.logo {
  width: 40px;
  border-radius: 15%;
}

/* TREATMENTS */
.treatment-image {
  width: 5%;
}

#treatment-patient-name {
  /* font-weight: 700; */
  color: var(--pink);
}

#treatment-doctor-name {
  /* font-weight: 700; */
  color: var(--dark-blue);
}

/* PATIENT */

.patient-male {
  color: var(--green);
  font-weight: 700;
}

.patient-female {
  color: var(--pink);
  font-weight: 700;
}

/* PATIENT AND DOCTOR CARDS */

.card {
  max-width: 300px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* LOGIN */
.login-error {
  font-weight: 700;
  color: var(--dark-red);
}

/* NAVIGATION TOP MENU */

.container-fluid {
  padding-left: 2vw;
  padding-right: 2vw;
}

.navbar-custom {
  /* nav menu background color */
  background-color: var(--dark-blue);
  padding-left: 2vw;
  padding-right: 2vw;
}

.navbar-custom .nav-link {
  /* nav menu link color */
  color: var(--light-blue);
}

.navbar-custom .nav-link:hover {
  /* nav menu hover link color */
  color: var(--normal-blue);
}

#menu-login {
  /* nav menu user greeting color */
  color: var(--navy-blue);
  display: flex;
  /* align-items: center; */
  margin-left: auto;
  /* padding-left: 2vw; */
}

.login-section {
  display: flex;
  align-items: center;
  color: var(--light-blue);
}

#menu-login span {
  margin-left: 3px;
  margin-right: 3px;
}

#login-link {
  padding-left: 10px;
}

#menu-user-name {
  /* nav menu user color */
  color: var(--navy-blue);
  margin-left: 3px;
  margin-right: 3px;
  font-weight: 700;
}
